/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; overflow:scroll}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background: linear-gradient(#26374669,#01060a);}
.map-container {
    height: 100% !important;
    width:100% !important;
  }
.mat-form-field-appearance-fill .mat-form-field-flex {
    background: none !important;
    }
.mat-tab-label-content {
        color:white !important;
    }
.line-chart-cover .mat-ink-bar {
    background-color: yellow !important;
}